<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeeice.bakingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".ui.activity.RecipeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.RecipeDetailActivity"
            android:label="@string/recipe_detail_activity_label"
            android:parentActivityName=".ui.activity.RecipeListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zeeice.bakingapp.ui.activity.RecipeDetailActivity" />
        </activity>

        <receiver android:name=".widget.BakingAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_app_widget_info" />
        </receiver>
        <service android:name=".widget.RecipeWidgetListService"
            android:permission="android.permission.BIND_REMOTE_VIEWS"/>
    </application>

</manifest>